/* ----------------------------------------------- */
/* Estilos generales */
/* ----------------------------------------------- */
* { box-sizing: border-box; }
body {
	margin: 0;
	padding: 0;
	background: lightgray;
	font-family: "Hanken Grotesk", sans-serif;
}
#contenedor {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}
header, footer {
	background: orange;
	padding: 1em;
	text-align: center;
}
main {
	padding: 2em;
	background: white;
}
h1 {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	text-transform: uppercase;
}
h2 {
	font-weight: 700;
}
li {
	line-height: 1.8em;
}
a:link {
	color: orange;
}
a:visited {
	color: orange;
}
a:hover {
	color: red;
}
a:active {
	color: red;
}

