/* ----------------------------------------------- */
/* Estilos ejemplo position fixed */
/* ----------------------------------------------- */

* {
	margin: 0;
	padding: 0;
}
div {
	width: 200px;
	height: 200px;
}
#bloque1 {
	background: #F00;
	position: fixed;
	top: 100px;
	left: 100px;
}
#bloque2 {
	background: #0F0;
}
#bloque3 {
	background: #00F;
}
#bloque4 {
	background: #BBB;
	height: 3000px;
}
